main,header,footer{
    max-width: 1000px;
    margin: 0 auto;
}

#boardTitles, #board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.topicHeading{
    padding: 1rem;
    text-align: center;
    background-color: rgb(255, 162, 178);
}

/* #board div{
    
} */

#board .block, #board .emptyBlock{
    width: 100%;
    /* height: 0; */
    border: none;
    margin: 0;
    margin-top: 1rem;
    padding: 2rem 1.75rem ;
    text-align: center;
    font-size: large;
}

#board .block{
    box-shadow: 2px 2px 5px rgb(255, 80, 109);
    background-color: pink;
}

#board .emptyBlock{
    height: 1.3rem;
}