main,header,footer{
    max-width: 90vw;
    margin: 0 auto;
    font-family: sans-serif;
    display: grid;
    gap: 1rem;
}

#boardTitles, #board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.topicHeading{
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    background-color: rgb(255, 162, 178);
}

/* #board div{
    
} */

#board .block, #board .emptyBlock{
    font-weight: 600;
    width: 100%;
    /* height: 0; */
    border: none;
    margin: 0;
    margin-top: 1rem;
    padding: 3rem 1.75rem ;
    text-align: center;
    font-size: xx-large;
}

#board .block{
    box-shadow: 2px 2px 5px rgb(255, 80, 109);
    background-color: pink;
}

#board .emptyBlock{
    height: 2.4rem;
}

#fullScreenQuestion{
    background-color: rgb(255, 162, 178);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    gap: 1rem;
}

#fullScreenQuestion button{
    font-weight: 500;
    font-size: x-large;
    padding: .75rem;
    background-color: rgb(255, 194, 204);
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px rgb(255, 80, 109);
}